@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@theme {
  --font-title: "Zalando Sans SemiExpanded", Zalando Sans;
  --font-code: "JetBrains Mono";
}

body {
  font-family:
    Zalando Sans,
    serif;
}
